body{
   background-color: #4d0000; 
}

table{
    border: 2px solid black;
    background-color: #660000;
    margin: auto;
}

h1{
    color: white;
    text-align: center;
}

#clear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td{
    padding: 5px;
    font-size: 1.1em;
}